{
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": [
    "^@nestjs/(.*)$",
    "^@core/(.*)$",
    "^@server/(.*)$",
    "^@ui/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
